.app .ui.cards {
    background-color: var(--alt-bg-color);
    padding-bottom: 10rem;

    animation: fadein 1s ease-out;

    @media screen and (max-width: 767px) {
        & {
            margin-top: 0;
        }
    }

    & .card:hover {
        rotate: (30);
    }
}

@keyframes fadein {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}
