@use 'src/styles/vars';

.cards {
    background-color: vars.$alt-bg-color;

    animation: fadein 1s ease-out;
}

@keyframes fadein {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}
