@use 'reset';
@use 'vars';

body {
  font-family: sans-serif;
  margin: 0;
}

body {
  font-family: sans-serif;
  background-color: vars.$bg-color !important;
}

#root {
  padding: 1rem 0;
  height: 100%;
}
