.app-header {
    text-align: center;
    margin-bottom: 1rem;

    & h1 {
        margin-top: -2rem;
    }
}

.app-header > img {
    width: 320px;
}

.app .app-header .ui.menu .item {
    // color: black;
    transition: .3s;
}
.app .app-header .ui.menu .active.item {
    color: #4183c4 !important;
    cursor: default;
}
