.message {
    display: flex;
    flex-flow: row;
    align-items: center;
    gap: 2rem;

    & .ui.content {
        margin-left: 0 !important;
        margin-right: 0 !important;
    }

    & .loader {
        flex-grow: 0;
        flex-shrink: 0;
    }
}
